//- Mixin for post, used on homepage and post page
mixin postHead(post)
  .post-head.group
    a(href="/#{post.url}")
      h1.post-title= post.title
    h2.post-date!= [post.date.getUTCFullYear(), post.date.getMonth() + 1, post.date.getDate()].join(' &#183; ')

mixin post(post)
  mixin postHead(post)
  .post-body!= post.content

doctype 5
html
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width")
    link(rel="icon", type="image/png", href="/images/cabin.png")
    link(href="/styles/main.css", rel="stylesheet")
    block title
      title= "cyberskunk's Blog"
  body
    nav#nav
      h1.name
        a(href="/") cyberskunk
      ul.nav-links
        li.menu-in.menu
          a(href="#nav").icon-menu
        li.menu-out.menu
          a(href="#").icon-menu
        li
          a(href="/about.html") about
        li
          a(href="/archives.html") archives

      .social-media
        a.icon-github(href="https://github.com/cy6erskunk")
        a.icon-twitter(href="https://twitter.com/cyberskunk")

    .content
      block content
    a(href="http://colinwren.github.io/Cabin/")
      img.cabin(src="/images/cabin.png")
    script(type="text/javascript").
        (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter21700567 = new Ya.Metrika({id:21700567, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
        div
            img(src="//mc.yandex.ru/watch/21700567", style="position:absolute; left:-9999px;", alt="")
